body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 960px;
  height: 960px;
  border: 4px black solid;
}

.row {
  display: flex;
  padding: 0;
  margin: 0;
  flex: 1;
}

.square {
  padding: 0;
  margin: 0;
  flex: 1;
}

/* .square:hover { */
/*   background-color: aquamarine; */
/* } */

.colored {
  background-color: hotpink;
}
